<!--
     Add this script to /Library/LaunchDaemons/
     Then load the job with "/usr/bin/sudo launchctl load [name-of-script]"
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.aesadde.productiveFalse</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/aesadde/.scripts/productive.sh</string>
      <string>-false</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/productiveFalse.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/productiveFalse.out</string>

    <!-- Run every day at 7 am-->
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>19</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
